# If you want Electrum-MUE to appear in a Linux app launcher ("start menu"), install this by doing:
# sudo desktop-file-install electrum-mue.desktop

[Desktop Entry]
Comment=Lightweight MonetaryUnit Client
Exec=sh -c "PATH=\"\\$HOME/.local/bin:\\$PATH\"; electrum-mue %u"
GenericName[en_US]=MonetaryUnit Wallet
GenericName=MonetaryUnit Wallet
Icon=electrum-mue
Name[en_US]=Electrum MonetaryUnit Wallet
Name=Electrum MonetaryUnit Wallet
Categories=Finance;Network;
StartupNotify=true
StartupWMClass=electrum-mue
Terminal=false
Type=Application
MimeType=x-scheme-handler/monetaryunit;
Actions=Testnet;

[Desktop Action Testnet]
Exec=sh -c "PATH=\"\\$HOME/.local/bin:\\$PATH\"; electrum-mue --testnet %u"
Name=Testnet mode
